/* General Layout Adjustments */
body {
    margin: 0 auto; /* Center the content on larger screens */
    font-size: 18px; /* Increase the base font size slightly */
}

/* Navigation Adjustments */


.nav-bar {
    display: none;
}

.nav-bar {
    position: static;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 1em 0;
}

.menu-container nav {
    position: static;
    max-height: none;
    overflow-y: visible;
}
.menu-container nav ul {
    flex-direction: row; /* This will display the list items in a row */
}

/* No need for the hover effect to display the menu, it will be always visible */
.menu-container:hover nav {
    max-height: none;
    overflow-y: visible;
}

.nav-bar ul {
    display: flex; 
    flex-direction: row;
    list-style: none; /* Remove the default list styling */
    padding: 0; /* Remove default padding */
}

.nav-bar li {
    margin: 0 1.5rem; /* Space out the list items */
}

.nav-bar li a {
    text-decoration: none; /* Remove underline from links */
    color: inherit;
    transition: color 0.3s; /* Smooth transition for hover effects */
}

.nav-bar li a:hover {
    color: #007BFF; /* Change color on hover */
    background-color: beige;

}

/* Adjustments for images */
img {
    max-width: 100%;
    height: auto;
}


section, article, aside {
    margin: 2rem 1rem;
}

/* Adjustments for tables */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 1rem;
    text-align: left;
}
