:root {
    --color1: #E6C053;
    --color2: #D33CE6;
    --color3: #25E6B2;
}

/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--color2);
    color: var(--color1); /* General text color */
}

/* Primary Color: Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--color3);
}


.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.big-button {
    padding: 20px 40px;
    font-size: 20px;
    text-decoration: none;
    background-color: var(--color3);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.big-button:hover {
    background-color: var(--color1);
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/* navbar */

nav {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 15px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

/* about me page */

main {
    padding: 2em;
}

/* table */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

